[submodule "software/dwm"]
	path = software/dwm
	url = https://github.com/kieroid/dwm
[submodule "software/dmenu"]
	path = software/dmenu
	url = https://github.com/kieroid/dmenu
[submodule "software/st"]
	path = software/st
	url = https://github.com/kieroid/st
